@charset "UTF-8";

body {
    background-color: rgb(219, 210, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(190, 2, 102);

}

h2 {
    color: rgb(146, 1, 78);

}

p {
    text-align: justify;
}